/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Red Rose:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family:Red Rose, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #1d3a8b;
	background-color: #b1e0dfbd;

.Red-Rose-h1 {
	font-family: "Red Rose", serif;
	text-shadow: 2px 2px #1E8449;
	font-optical-sizing: auto;
    font-weight:600;
    font font-style: normal;
    color:#FDFEFE;
}

.h5 {
	font font-family: "Red Rose";
	font-weight: 500;
	font-style: normal;
	color: #1E8449;
	text-shadow: 2px 2px #FDFEFE;
}


/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #b1bbe0bd;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #f4ddf7;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "☾";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	tetx text-shadow: 2px 2px #7cafd6b0;
}

.biography-details li::before {
	color: #20aea9;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
